body{
	background-color: #222222;
	margin: 0px;
}
.nav-toggle {
	display: inline-block;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 4px;
	height: 30px;
}
.icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	background-color: #ffffff;
	margin-top: 4px;
}
.show-sidebar {
	display: block;
	margin-top: 8px;
}
.link{
	cursor: pointer;
}
.underlineLink{
	text-decoration: underline;
}
.firstBoxDev{
	width: 300px;
	height: 50px;
	background-color: #aaaaaa;
	display: inline-table;
	margin: 20px;
	border: 1px solid white;
}
.innerFirstDevBox{
	width: 300px;
}
.devBoxTitle{
	background-color: #DDDDDD;
	padding: 2px;
	padding-left: 10px;
	padding-bottom: 12px;
	border-bottom: 1px solid white;
	box-shadow: 0px 5px 2px rgba(0,0,0,.3);
}
.devBoxContent{
	word-wrap: break-word;
	padding: 10px;
	color: #000000;
	max-height: 500px;
	overflow-y: auto;
	overflow-x: hidden;
}
.devBoxContentSecondary{
	display: none;
}
.devBoxContentSecondaryExpanded{
	display: block;
}
#sidebar{
	background-color: #aaaaaa;
	width: 0px;
	display: inline-table;
	position: fixed;
	height: 100%;
}
.sidebarIsVisible{
	border-right: 3px solid white;
}
#sidebarBG{
	background-color: #aaaaaa;
	width: 0px;
	height: 1px;
	display: inline-table;
	border-right: 3px solid white;
}
#main{
	position: fixed;
	top: 40px;
	left: 100px;
	overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}
.menuBarLeft{
	list-style-type: none;
	padding: 0px;
}
.menuBarLeft li{
	line-height: 200%;
	padding-left: 10px;
	cursor: pointer;
}
.menuBarLeft li:hover{
	background-color: #DDDDDD;
}
#menu{
	padding-left: 5px;
	padding-right: 5px;
	width: 100%;
	position: fixed;
	top: 0px;
	height: 40px;
	background-color: #222222;
	border-bottom: 1px solid white;
	z-index: 10;
}
.menuSections{
	width: 33%;
	display: inline-block;
}
.settingsUl
{
	list-style: none;
}
.settingsUl li{
	line-height: 200%;
}
.leftSpacingserverNames{
	width: 100px;
	display: inline-block;
}
.inputWidth300{
	width: 300px;
}
.paddingTopForLeftMenu{
	height: 40px;
	box-shadow: 0px 10px 5px #888888;
}
.buttonSelectorOuter{
	border: 1px solid white;
	border-radius: 7px;
	width: 200px;
	margin-right: auto;
	margin-left: auto;
	height: 20px;
	background-color: #444444;
	box-shadow: 0px 5px 10px;
}
.buttonSlectorInnerBoxesAll{
	width: 50%;
	height: 100%;
	float: left;
	text-align: center;
}
.buttonSlectorInnerBoxes{
	color: white;
	cursor: pointer;
}
.buttonSlectorInnerBoxes:hover{
	color: black;
	background-color: #CCCCCC;
}
.buttonSlectorInnerBoxesSelected{
	color: black;
	background-color: white;
	cursor: default;
}
.description{
	line-height: 75%;
	font-size: 75%
}
#groupInfo{
	width: 100%;
	height: 25px;
	position: fixed;
}
#groupInfoPlaceholder{
	height: 25px;
}
.groupTabShadow{
	position: relative;
	display: inline-block;
	border-radius: 0px 9px 15px 15px;
	box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.5);
}
.groupTab{
	background-color: #222222;
	height: 25px;
	width: 100px;
	color: white;
	border-radius: 0px 0px 15px 15px;
	border: 1px solid white;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	position: relative;
	z-index: 5;
}
.groupTab:hover{
	background-color: #CCCCCC;
	color: black;
}
.groupTabSelected{
	background-color: white !important;
	color: black !important;
	cursor: default;
}
.groupTabSelected:hover{
	background-color: white !important;
	color: black !important;
}
.expandMenu{
	display: inline-block;
	float: right;
	cursor: pointer;
}
.expandMenu:after{
	content: '\2807';
 	font-size: 20px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 131px;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    color: white !important;
    background-color: #777777;
}
.back-to-top {
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 1);
    font-size: 16px;
    height: 30px;
    display: none; 
    position: absolute;
    left: 120px;
    top: 0px;
    padding-top: 10px;
}
.back-to-top:hover {    
    background-color: rgba(135, 135, 135, 1);
}